{% load static %}
<div class="grid grid-cols-1 md:grid-cols-7">
    <div class="col-span-1 md:col-span-3 my-auto">
        <img src="{% static '/img/step1.png' %}" class="w-full" alt="">
    </div>
    <div class="col-span-1 md:col-span-4 py-[20px] sm:p-[26px] font-source">
        <div class="flex justify-start items-center gap-x-[20px]">
            <span class="bg-[#569CBF] rounded-[12px] px-[12px] sm:px-[18px] py-[3px]">
                Step.01
            </span>
            <p class="text-[22px] sm:text-[30px] text-[#111]">
                双方自己紹介
            </p>
        </div>
        <p class="mt-[30px] text-[12px] sm:text-[16px] text-[#111]">
            相談会はほかの方の参加者はなく、1対1のWEB面談になります。
            女性の方について、ご希望の方は弊社女性スタッフが同席いたします。
        </p>
    </div>
</div>