{% load static %}
<div class="grid grid-cols-1 md:grid-cols-7">
    <div class="col-span-1 md:col-span-3 my-auto">
        <img src="{% static '/img/step3.png' %}" class="w-full" alt="">
    </div>
    <div class="col-span-1 md:col-span-4 py-[20px] sm:p-[26px] font-source">
        <div class="flex justify-start items-center gap-x-[20px]">
            <span class="bg-[#0B69BC] rounded-[12px] px-[12px] sm:px-[18px] py-[3px]">
                Step.03
            </span>
            <p class="text-[22px] sm:text-[30px] text-[#111]">
                書類のご確認
            </p>
        </div>
        <p class="mt-[30px] text-[12px] sm:text-[16px] text-[#111]">
            履歴書と職務経歴書の内容に誤りがないか、確認いたします。転職相談後、職務経歴書や履歴書の添削、志望理由の整理などのサポートなども行っております。
        </p>
    </div>
</div>