{% load static %}
<div class="grid grid-cols-1 md:grid-cols-7">
    <div class="col-span-1 md:col-span-3 my-auto">
        <img src="{% static '/img/step4.png' %}" class="w-full" alt="">
    </div>
    <div class="col-span-1 md:col-span-4 py-[20px] sm:p-[26px] font-source">
        <div class="flex justify-start items-center gap-x-[20px]">
            <span class="bg-[#182987] rounded-[12px] px-[12px] sm:px-[18px] py-[3px]">
                Step.04
            </span>
            <p class="text-[22px] sm:text-[30px] text-[#111]">
                希望職種のご紹介
            </p>
        </div>
        <p class="mt-[30px] text-[12px] sm:text-[16px] text-[#111]">
            業務改善系やDXの経営コンサルティングの支援を行っている関係や製造業での経験により、バックオフィス業務や、IT系・製造業に関しては、特に深くお話しできます。
        </p>
    </div>
</div>