{% load static %}
<div class="grid grid-cols-1 md:grid-cols-7">
    <div class="col-span-1 md:col-span-3 my-auto">
        <img src="{% static '/img/step2.png' %}" class="w-full" alt="">
    </div>
    <div class="col-span-1 md:col-span-4 py-[20px] sm:p-[26px] font-source">
        <div class="flex justify-start items-center gap-x-[20px]">
            <span class="bg-[#0B69BC] rounded-[12px] px-[12px] sm:px-[18px] py-[3px]">
                Step.02
            </span>
            <p class="text-[22px] sm:text-[30px] text-[#111]">
                経歴及びご希望確認
            </p>
        </div>
        <p class="mt-[30px] text-[12px] sm:text-[16px] text-[#111]">
            これまでの職務経歴や希望職種について、専門の相談員が丁寧にヒアリングします。職種業態は幅広く取り揃えており、(医療・介護系は除く)様々な方に対応できます。
        </p>
    </div>
</div>