{% extends "base.html" %}

{% block content %}
    {% include 'components/organisms/main-visual.html' %}  
    {% include 'components/organisms/trouble-section.html' %}  
    {% include 'components/organisms/opponent-section.html' %} 
    {% include 'components/organisms/free-consultation-section.html' %} 
    {% include 'components/organisms/ceo-section.html' %}  
    {% include 'components/organisms/process-section.html' %}  
    {% include 'components/organisms/customer-voice-section.html' %}  
    {% include 'components/organisms/recruitment-example-section.html' %}  
    {% include 'components/organisms/ceo-word-section.html' %}  
    {% include 'components/organisms/consultation-section.html' %}  
    {% include 'components/organisms/calendar-section.html' %}  
    {% include 'components/organisms/contact-section.html' %}  
{% endblock %}

