{% load static %}

<div class="ceo-word-bg">
    <div class="py-[20px] max-w-[900px] px-[20px] tb:px-0 mx-auto w-full">
        <h2 class="text-[28px] md:text-[48px] tb:text-[75px] font-bold text-[#111] text-center">
            ご挨拶
        </h2>
        <div class="text-[12px] md:text-[16px]">
            <p class="text-center">
                私は大手企業に入ることで明るい未来が手に入るものと期待をもって社会人になりましたが、収入や仕事にずっと悩んでいました。転職を決意し、私がもともと行きたいと思っていた企業を受けてみたところ、内定をもらい年収が上がり、私の人生を大きく変えることができました。その後も転職活動を繰り返してきましたが、その中で3つのことに気が付きました。
            </p>
            <ul class="mt-[24px] md:mt-[45px] space-y-[3px] text-center">
                <li class="list-item">
                    ・一貫したストーリーがないと面接に通過できないこと
                </li>
                <li class="list-item">
                    ・転職先及び応募した仕事が私自身目指している姿に近づけているのか
                </li>
                <li class="list-item">
                    ・今までの活動が新しい会社で活躍できることの説得材料となっているか
                </li>
            </ul>
            <p class="mt-[30px] md:mt-[45px] text-center">
                この3点を明らかにすることでほぼ面接には落ちなくなりました。<br>
                転職活動で志望理由などをどう記載して、どう説明すればいいのかわからず、漠然と悩まれている方は必ずいると思います。<br>
                こういった方々に対して手助けをしたい、お悩みの解消を通じて優秀な方が社会に増えて欲しいと思い活動をしています。
            </p>
        </div>
        <p class="mt-[30px] text-right text-[22px] md:text-[30px]">
            仲丸 武宏
        </p>
    </div>

</div>