{% load static %}
<div class="mt-[40px] tb:mt-[100px] pb-[60px] max-w-[1280px] w-full mx-auto px-[20px]">
    <h2 class="text-[28px] md:text-[48px]  tb:text-[75px] text-center font-source text-[#111]">
        無料相談会について
    </h2>
    <div class="mt-[30px] md:mt-[50px]">
        <table class="border-[#111] border-[1px] w-full">
            <tbody class="border-[#111] border-[1px]">
                <tr class="border-[#111] border-[1px]">
                    <th class="border-[#111] border-[1px] w-[25%] bg-[#DEF1FB] text-center text-[#111] text-[12px] md:text-[16px] py-[20px]">
                        講師
                    </th>
                    <td class="w-[75%] px-[20px]">
                        仲丸武宏
                    </td>
                </tr>
                <tr class="border-[#111] border-[1px]">
                    <th class="border-[#111] border-[1px] w-[25%] bg-[#DEF1FB] text-center text-[#111] text-[12px] md:text-[16px] py-[20px]">
                        開催場所
                    </th>
                    <td class="w-[75%] px-[20px]">
                        オンライン
                    </td>
                </tr>
                <tr class="border-[#111] border-[1px]">
                    <th class="border-[#111] border-[1px] w-[25%] bg-[#DEF1FB] text-center text-[#111] text-[12px] md:text-[16px] py-[20px]">
                        料金
                    </th>
                    <td class="w-[75%] px-[20px]">
                        無料
                    </td>
                </tr>
                <tr class="border-[#111] border-[1px]">
                    <th class="border-[#111] border-[1px] w-[25%] bg-[#DEF1FB] text-center text-[#111] text-[12px] md:text-[16px] py-[20px]">
                        注意事項
                    </th>
                    <td class="w-[75%] px-[20px] py-[20px]">
                        <div class="text-[12px] md:text-[16px] text-[#111] leading-[1.8]">
                            <p>
                                ・接続後、開始時間になるまで待機室でお待ちください。<br>
                                ・お申込み時と同じお名前(苗字・名前どちらかだけでもOK)が表示されるよう、設定をお願い致します。<br>
                                ・表情が命です。カメラオン(顔出し)をお願い致します。
                            </p>
                            <p class="mt-[28px]">
                                ※学生の方、同業種の方のご参加はご遠慮いただいております。
                            </p>
                        </div>
                    </td>
                </tr>
                <tr class="border-[#111] border-[1px]">
                    <th class="border-[#111] border-[1px] w-[25%] bg-[#DEF1FB] text-center text-[#111] text-[12px] md:text-[16px] py-[20px]">
                        お問い合わせ
                    </th>
                    <td class="w-[75%] px-[20px] py-[20px]">
                        <div class="text-[12px] md:text-[16px] text-[#111] leading-[1.8]">
                            info@xrossspoint.co.jp <br>
                            https://www.chatwork.com/g/tf5clbs3j97ohg <br>
                            上記にお問い合わせください。
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>