{% load static %}

<div class="pt-[15px] pb-[30px] tb:pb-[74px] md:pt-[55px]">
    <div class="max-w-[1280px] mx-auto w-full px-[20px]">
        <div class="flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="41.628" height="56.695" viewBox="0 0 41.628 56.695">
                <line id="Line_4" data-name="Line 4" x2="40.322" y2="55.75" transform="translate(0.653 0.472)" fill="none" stroke="#266891" stroke-miterlimit="10" stroke-width="1.612"/>
            </svg>                    
            <h2 class="text-[24px] md:text-[38px] lg:text-[50px] text-center text-[#000] font-source font-bold px-[20px]">
                無料相談会の
            </h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="41.628" height="56.695" viewBox="0 0 41.628 56.695">
                <line id="Line_3" data-name="Line 3" x1="40.322" y2="55.75" transform="translate(0.653 0.472)" fill="none" stroke="#266891" stroke-miterlimit="10" stroke-width="1.612"/>
            </svg>                    
        </div>
        <p class="text-[#000] text-[32px] sm:text-[56px] tb:text-[74px] text-center leading-[1]">
            <span class="text-[#E8C515]"><span class="text-[64px] sm:text-[82px] tb:text-[132px] leading-[0.7]">3</span>つ</span>のポイント
        </p>
        <div class="mt-[5px] flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="169.602" height="3.731" viewBox="0 0 169.602 3.731">
                <g id="Group_9" data-name="Group 9" transform="translate(-415.199 -762.471)">
                  <g id="Group_154" data-name="Group 154">
                    <rect id="Rectangle_3" data-name="Rectangle 3" width="100.618" height="3.731" transform="translate(415.199 762.471)" fill="#0b69bc" opacity="0.8"/>
                    <rect id="Rectangle_4" data-name="Rectangle 4" width="68.984" height="3.731" transform="translate(515.817 762.471)" fill="#5ca4d1" opacity="0.8"/>
                  </g>
                </g>
            </svg>          
        </div>
        <div class="mt-[45px] space-y-[30px] tb:space-y-[50px] font-source">
            <div class='rounded-[28px] bg-[#DEF1FB] grid grid-cols-1 sm:grid-cols-2 relative pt-[20px] pb-[40px] px-[30px] sm:px-[50px]'>
                <div class="absolute top-0 left-0 w-0 h-0 rounded-tl-[20px] lg:rounded-tl-[28px] border-l-[0px] border-l-transparent border-t-[100px] lg:border-t-[160px] border-t-[#E8C515] border-r-[200px] lg:border-r-[280px] border-r-transparent"></div>
                <p class="absolute top-[10px] left-[20px] text-[48px] lg:text-[70px] leading-[1] font-medium text-white">
                    01
                </p>
                <div class="col-span-1"> 
                    <h2 class="text-[#000] text-[26px] tb:text-[34px] text-right leading-[1]">
                        充実した<br>
                        <span class="text-[42px] tb:text-[60px]">求人数</span>
                    </h2>
                    <p class="mt-[26px] text-[#000] text-[14px] tb:text-[21px]">
                        求人数は3万件以上！日本全国のお仕事が紹介可能です。日系大手コンサルティング企業、ゲーム系IT企業、大手Slerなど幅広い職種をご案内できます。<br>
                        安心してご参加ください。<br>
                        ※守秘義務の為、会社名は記載しておりません
                    </p>
                </div>
                <div class="col-span-1 px-[20px] lg:px-[50px] mx-auto my-auto"> 
                    <img src="{% static '/img/point1.png' %}" class="w-full my-auto" alt="">
                </div>
            </div>
            <div class='rounded-[28px] bg-[#DEF1FB] grid grid-cols-1 sm:grid-cols-2 relative pt-[20px] pb-[40px] px-[30px] sm:px-[50px]'>
                <div class="absolute top-0 left-0 w-0 h-0 rounded-tl-[20px] lg:rounded-tl-[28px] border-l-[0px] border-l-transparent border-t-[100px] lg:border-t-[160px] border-t-[#E8C515] border-r-[200px] lg:border-r-[280px] border-r-transparent"></div>
                <p class="absolute top-[10px] left-[20px] text-[48px] lg:text-[70px] leading-[1] font-medium text-white">
                    02
                </p>
                <div class="col-span-1"> 
                    <h2 class="text-[#000] text-[26px] tb:text-[34px] text-right leading-[1]">
                        親身な<br>
                        <span class="text-[42px] tb:text-[60px]">サポート</span>
                    </h2>
                    <p class="mt-[26px] text-[#000] text-[14px] tb:text-[21px]">
                        あなたの漠然としたお悩みに対して壁打ち相手になります。<br>
                        「話せてよかった」「これをやってみよう」「新しいことに挑戦してみよう」のような形で、転職にプラスな効果を生み出せればと思います。
                    </p>
                </div>
                <div class="col-span-1 px-[20px] lg:px-[50px] mx-auto my-auto"> 
                    <img src="{% static '/img/point2.png' %}" class="w-full my-auto" alt="">
                </div>
            </div>
            <div class='rounded-[28px] bg-[#DEF1FB] grid grid-cols-1 sm:grid-cols-2 relative pt-[20px] pb-[40px] px-[30px] sm:px-[50px]'>
                <div class="absolute top-0 left-0 w-0 h-0 rounded-tl-[20px] lg:rounded-tl-[28px] border-l-[0px] border-l-transparent border-t-[100px] lg:border-t-[160px] border-t-[#E8C515] border-r-[200px] lg:border-r-[280px] border-r-transparent"></div>
                <p class="absolute top-[10px] left-[20px] text-[48px] lg:text-[70px] leading-[1] font-medium text-white">
                    03
                </p>
                <div class="col-span-1"> 
                    <h2 class="text-[#000] text-[26px] tb:text-[34px] text-right leading-[1]">
                        経験豊富な<br>
                        <span class="text-[36px] tb:text-[60px]">アドバイザー</span>
                    </h2>
                    <p class="mt-[26px] text-[#000] text-[14px] tb:text-[21px]">
                        自身の転職活動の経験を活かし、転職活動を成功に導くために的確なアドバイス！<br>
                        転職活動を行うにあたり、自身の考えや行動に関して一貫したストーリーをもって面接に臨む必要があります。<br>
                        面談を通じて、一貫したストーリーの準備をするための支援をできればと思います。
                    </p>
                </div>
                <div class="col-span-1 px-[20px] lg:px-[50px] mx-auto my-auto"> 
                    <img src="{% static '/img/point3.png' %}" class="w-full my-auto" alt="">
                </div>
            </div>
        </div>
    </div>
</div>