{% load static %}

<div class="main-visual-bg bg-cover bg-no-repeat bg-right md:bg-center">
    <div class="max-w-[1280px] mx-auto w-full relative px-[20px] xl:h-screen">
        <a href="" class="absolute top-3 sm:top-[20px] right-4 sm:right-[20px]">
            <img src="{% static '/img/logo.png' %}" class=" w-[163px] h-auto" alt="xross-point">
        </a>
        <div class="absolute right-[20px] top-[35%] tb:top-[40%] xl:top-[60%] hover:shadow-none duration-300 transition-all cursor-pointer shadow-[3px_3px_0px_0px_rgba(112,112,112)]  
                inline-block px-[6px] tb:px-[17px] text-[14px] tb:text-[20px] font-medium py-[18px] tb:py-[34px] bg-[#D63C61] text-white rounded-[10px] text-orientation">
            <p class="text-orientation-vertical ">
                今すぐ申し込む
            </p>
            <div class="mt-[12px] tb:mt-[42px] rounded-full bg-white w-[20px] tb:w-[30px] h-[20px] tb:h-[30px] flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="9.006" height="7.799" viewBox="0 0 9.006 7.799">
                    <path id="Path_62" data-name="Path 62" d="M950.4,502.232l4.5-7.8h-9.006Z" transform="translate(-945.893 -494.433)"/>
                </svg>                      
            </div>
        </div>
        <div class="py-[45px] sm:py-[100px]">
            <div>
                <p class="absolute top-[65px] lg:top-[90px] right-[20px] lg:right-[30px] font-bold text-[16px] lg:text-[21px] text-[#333] -rotate-[10deg]">
                    将来について<br>漠然と悩んでいませんか？
                </p>
            </div>
            <p class=" bg-[#333] text-[14px] text-white rounded-[10px] tb:rounded-[20px] font-source inline-block tb:text-[18px] px-[20px] tb:px-[40px] ">
                転職に重要な、一貫したストーリーを考えます
            </p>
            <div>
                <p class="mt-[140px] sm:mt-[60px] text-[#333] text-[16px] sm:text-[20px] tb:text-[27px] font-source">
                    キャリアに悩む <span class="bg-[#DEF1FB] rounded-[16px] px-[13px] text-[22px] tb:text-[30px]">若手</span>
                    <span class="bg-[#DEF1FB] rounded-[16px] px-[13px] text-[22px] tb:text-[30px]">中堅</span>向け
                </p>
                <h1 class="text-[#333] text-[50px] sm:text-[64px] tb:text-[96px] font-source font-bold">
                    無料相談会
                </h1>
                <div class="flex justify-start items-center gap-x-2 text-[#182987] font-bold">
                    <div class="flex justify-center items-center bg-circle w-[110px] sm:w-[130px] tb:w-[155px] h-[110px] sm:h-[130px] tb:h-[155px] text-center">
                        求人数 <br>
                        3万件以上
                    </div>
                    <div class="flex justify-center items-center bg-circle w-[110px] sm:w-[130px] tb:w-[155px] h-[110px]  sm:h-[130px] tb:h-[155px] text-center">
                        経歴書 <br>
                        履歴書の<br>
                        添削
                    </div>
                    <div class="flex justify-center items-center bg-circle w-[110px] sm:w-[130px] tb:w-[155px] h-[110px]  sm:h-[130px] tb:h-[155px] text-center">
                        何回相談 <br>
                        しても無料
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
