<div class="mt-[20px] max-w-[1280px] mx-auto w-full px-[20px] pb-[40px] md:pb-[60px] tb:pb-[100px]">
    <h2 class="text-[24px] md:text-[42px] lg:text-[56px] text-center text-[#000] font-source font-bold">
        そのお悩み、私たちが<br>
        <span class="text-[28px] md:text-[56px] lg:text-[73px]">
            壁打ち相手になります！
        </span>
    </h2>
    <div class="mt-[20px] flex justify-center items-center space-x-[12px]">
        <div class="flex justify-center items-center bg-blue-circle w-[110px] md:w-[180px] tb:w-[250px] h-[110px] md:h-[180px] tb:h-[250px] rounded-full text-center text-[14px] md:text-[20px] tb:text-[33px] font-medium text-[#28388F]">
            充実した<br>
            求人数
        </div>
        <div class="flex justify-center items-center bg-blue-circle w-[110px] md:w-[180px] tb:w-[250px] h-[110px] md:h-[180px] tb:h-[250px] rounded-full text-center text-[14px] md:text-[20px] tb:text-[33px] font-medium text-[#28388F]">
            親身な<br>
            サポート
        </div>
        <div class="flex justify-center items-center bg-blue-circle w-[110px] md:w-[180px] tb:w-[250px] h-[110px] md:h-[180px] tb:h-[250px] rounded-full text-center text-[14px] md:text-[20px] tb:text-[33px] font-medium text-[#28388F]">
            経験豊富な<br>
            アドバイザー
        </div>
    </div>
</div>